.container{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1f;
    grid-template-areas: 
    "dis dis dis dis"
    "A C div times"
    "seven heigth nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal";
}
.total{
    padding: 5px 20px;
    color: yellow;
}
.padButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: grey;
    color:  white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
  
}
.padButton:hover{ 
    color:  #ccc;
    border: 1px solid white;
  
  
}
.blue{
    background-color: #5599ff;
}
.tomato{
    background-color: tomato;
}
.dark-gary{
    background-color: #333;
}
.dis{
 grid-area: dis;
 background-color: black;
 text-align: right;
 font-size: 20px;
}
.dis input{
        width: 90%;
        color: white;
        padding: 5px 20px;
        background-color: black;
        text-align: right;
    }
    input::placeholder{
        color: white;
    }
.zero{
    grid-area: zero;
}
.equal{
   grid-area: equal  ;
}